nav{
    background-color: seagreen;
    display: flex;
    height: 5rem;
    position: relative;
}
li{
    list-style-type: none;
}
nav li a{
    text-decoration: none;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
}